/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Turret+Road&family=Raleway&display=swap');

body {
  font-family: 'Raleway';
}

h1,.fh5co-heading h2, .fh5co-three {
  font-family: 'Cabin Sketch';
}

h2, h3, .fh5co-main-nav, .fh5co-heading p {
  font-family: 'Turret Road';
}

.fh5co-heading h2 {
  font-size: 25px;
  text-transform: none;
}

.fh5co-main-nav .fh5co-menu-1 a {
  font-size: 18px;
}

.fh5co-tabs-container .fh5co-tabs li a {
  font-size: 20px;
  border-bottom-width: 3px;
}

.fh5co-tabs-container .fh5co-tabs li.active a {
  font-size: 20px;
  color: #69c2c8;
  border-bottom: 3px solid #69c2c8;
}





/* team */
.col-md-6 {
  width: 100%;
}

#fh5co-team .person img{
  border-radius: 0;
  webkit-border-radius: 0;
}

#fh5co-team .person { 
  text-align: left;
}

#fh5co-team .col-md-4 {
  width: 50%;
}
